@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

html {
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.navc {
  background-color: #21d192;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Acme', sans-serif;
  background-color: rgb(255, 247, 247);
  font-size: 22px;
}

#bottom-body {
  margin-top: 10px;
  background-color: white;
  text-align: center;
}

#bottom-body p {
  clear: both;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.history p {
  clear: both;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.inside li {
  clear: both;
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.course-heading {
  text-align: center;
  text-transform: uppercase;
  color: #23159e;
  border: 5px solid #23159e;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
}

#ieeelogo {
  padding: 25px;
  width: 60%;
  margin: auto;
}

#headp {
  margin-top: 20px;
}

#ieeetitle {
  width: 90%;
  margin: auto;
  padding: 25px;
  font-size: 65px;
  font-weight: bold;
}

.list-group {
  width: 85%;
  margin: auto;
}

#ieeestudents {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.inside {
  list-style-position: inside;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
}

.overlay-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #cecece;
  display: none;
}

.overlay-component {
  border: 3px solid black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  width: auto;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

#event-list {
  font-size: 18px;
  width: 75%;
}

#event-list h3 {
  clear: both;
}

#event-list h3{
  padding-top: 20px;
}
#info {
  margin-top: 50px;
  font-size: 15px;
  text-align: center;
}

#gitbanner {
  width: 100%;
}

.footer-copyright {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.history {
  width: 80%;
  margin-top: 10px;
  background-color: white;
  text-align: left;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 18px;
}

#histitle {
  margin-top: 20px;
  font-size: 45px;
  margin-bottom: 20px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

.teal {
  background-color: #21d192;
}

@media(max-width:767px) {
  #navbarSupportedContent {
    background-color: #bdd8eb;
  }

  #navbarSupportedContent ul li {
    padding-bottom: 0px !important;
  }
}

footer {
  margin-top: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:575px) {
  .p-5 {
    padding: 8px !important;
  }
  
  * {
    font-size: 14px;
  }

  #accordion {
    width: 90%;
  }

  #ieeetitle {
    width: 100%;
    padding: 10px;
    font-size: 40px;
  }

  #ieeelogo {
    padding: 20px;
    width: 100%;
  }

  #bottom-body {
    padding: 5px !important;
  }

  .history {
    width: 100%;
    padding: 5px !important;
  }
}

.card-body {
  font-size: 14px;
}

.card:hover {
  transform:scale(1.1,1.1);
  transition-duration: 0.5s;
}

.eventimage {
  float: right;
  width: 350px;
  margin: 10px;
}

#small {
  display: none;
}

@media(max-width:1199px) {
  .eventimage {
    float: none;
    margin: auto;
    width: 100% !important;
    display: block;
  }

  #small {
    display: block;
  }

  #big {
    display: none;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
}